{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Redefinir Senha</h2>
    <p class="text-center">Digite uma nova senha para sua conta:</p>

    <form method="POST" class="mt-4">
        <div class="form-group">
            <label for="password" class="form-label">Nova Senha</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Redefinir</button>
        </div>
    </form>
</div>
{% endblock %}
