{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">{% block title %} Usuario {% endblock %}</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">{{ usuario['login'] }}</div>
                    <div class="card-body">
                        <p class="card-text">Senha: {{ usuario['senha'] }}</p>
                        <p class="card-text">Nome: {{ usuario['nome_real'] }}</p>
                        <p class="card-text">Status: {{ usuario['status_label'] }}</p>
                        <p class="card-text">Created: {{ usuario['created'] }}</p>
                        <p class="card-text">Modified: {{ usuario['modified'] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
